.primary {
    background-color: rgb(48,48,48);
    color: rgb(170, 170, 170);
}

.header {
    display: flex;
    gap: 1.3rem;
    padding-bottom: 1.2rem;
    padding-top: 1.2rem;
    margin-left: 0.5rem;
}

.searchbar {
    display: flex;
    align-items: center;
    background-color: rgb(100, 100, 100);
    border-radius: 20px;
    /* margin-left: 1.3rem; */
    margin-right: 1rem;
    width: 2rem;
    padding: 0.3rem;
    margin-bottom: 0.8rem;
    margin-left: 0.4rem;
}

.search-input {
    border: none;
    background: none;
    outline: none;
    color: rgb(20, 20, 20);
    font-size: 1rem;
    flex: 1;
}

.search-icon {
    margin-left: 0.5rem;
}

hr {
    width: 100%;
    opacity: 0.3;
}

.container {
    --sb-width: 4.3rem;
}

.container.sb-expanded {
    --sb-width: 19rem;
}

aside {
    position:fixed;
    top: 0;
    left: 0;
    bottom: 0;
    /* padding: 1rem; */
    width: var(--sb-width);
    transition: width 0.2s ease-in-out;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* margin-left: 1.2rem; */
    overflow-y: hidden;
    overflow-x: hidden;
}

nav ul {
    list-style: none;
    display: flex;
    flex-flow: column;
    gap: 0.25rem;
    padding-inline-start: 0;
}

nav a:not(.header *), .create{
    display: flex;
    align-items: center;
    gap: 0.625rem;
    padding: 0.625rem 0.875rem;
    font-size: 1.25rem;
    line-height: 1;
}

.create button {
    border: none;
    background-color: rgb(48,48,48);
    color: rgb(170, 170, 170);
}

.create, .create button {
    cursor: pointer;
}

.fa-arrow-right {
    margin-left: 7rem;
}

.dropdown-items {
    height: 0;
    margin: 0;
    background-color: rgb(80, 80, 80);
}

ul a span, .hide, .search-input, .dropdown button, .dropdown .dropdown-items{
    font-size: 0.875rem;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.2s ease-in-out,    
        visibility 0.2s ease-in-out;
}

a {
  text-decoration: none;
  color: inherit; 
}

.bottom {
    margin-top: auto;
}

nav a:hover,
nav a:focus-visible, 
.create:hover, 
.create:focus-visible {
    outline:auto;
}

.sb-expanded nav a span, .sb-expanded .hide, .sb-expanded .search-input, .sb-expanded .dropdown button {
    opacity: 1;
    visibility: visible;
}

.dd-expanded .dropdown-items, .dd-expanded .dropdown-items a {
    height: auto;
    opacity: 1;
    visibility: visible;
}

.dropdown-items a {
    margin-left: 2rem;
}

.sb-expanded .searchbar {
    width: 85%;
}

.sb-expanded nav {
    overflow-y: scroll;
    scrollbar-color: gray rgb(48,48,48);
}
